@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --bgcolor: #00152f;
  --txtColor: #fff;
  --secondaryColor: #00a6fb;

  --color-bg1: #1b4965;
  --color-bg2: #001219;
  --color1: 0, 18, 51;
  --color2: 0, 24, 69;
  --color3: 0, 40, 85;
  --color4: 51, 65, 92;
  --color5: 2, 62, 125;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

/**start background blur balls */

/** end background blur balls */
body {
  background-color: var(--bgcolor);
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: var(--txtColor);
}
main {
  margin: 0 5%;
}
ul li a {
  text-decoration: none;
  color: var(--txtColor);
  font-size: 25px;
}
ul li {
  list-style: none;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
ul li a img {
  width: 25px;
}
.right {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-evenly;
  align-items: center;
}
.right a {
  font-size: 20px;
}
h1 {
  font-size: 100px;
  margin: 0;
  margin-top: 5%;
}
.cirkel3dFront,
.cirkel3dBack {
  position: absolute;
  top: 29%;
  left: 14%;
  width: 125px;
  animation: rotate-center 0.6s ease-in-out both;
}
.cirkel3dFront {
  z-index: 1000;
  clip-path: inset(0 50% 0 0);
}

.cirkel3dBack {
  z-index: -1;
  clip-path: inset(0 0 0 49%);
}
p {
  width: 50%;
  font-size: 20px;
  font-weight: 400;
}

.btnWrapper {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15%;
  top: 50%;
}

.btnDark {
  position: relative;
  background-color: var(--txtColor);
  color: var(--bgcolor);
  text-decoration: none;
  padding: 20px 30px;
  border-radius: 35px;
  margin: 15px;
  align-content: center;
  text-align: center;
  width: 250px;
  font-size: 20px;
}

@keyframes ringSlide {
  0% {
    left: -11%;
  }
  100% {
    left: 14%;
  }
}

.welkomWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15%;
}

@keyframes btnSlide {
  0% {
    padding: 10px 30px;
  }

  50% {
    padding: 25px 30px;
  }
  100% {
    padding: 20px 30px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-bg2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #005f73;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a9396;
}

h2 {
  font-size: 50px;
  width: 80%;
}

.blue {
  color: var(--secondaryColor);
}

.heroWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20%;
  animation: rotate-center 0.6s ease-in-out both;
}

.heroImg {
  display: flex;
  align-self: center;
  width: 450px;
  height: 450px;
  background-image: url(../images/dakwerk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
}

.heroTekst {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.heroTekst p {
  width: 70%;
}
.heroTekst h2 {
  width: 100%;
}

#contacteerOns {
  width: 400px;
}

.imgBtnWrapper,
.footerBtnWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */

@keyframes rotate-center {
  0% {
    left: -10%;
  }
  100% {
    left: 14%;
  }
}

@keyframes scaleAnim {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}

#grotePlannen {
  flex-direction: row-reverse;
  align-items: center;
}

#grotePlannen h2,
#grotePlannen p {
  text-align: right;
  margin: 20px 0;
}

#grotePlannen .heroTekst {
  align-items: flex-end;
}

.logoName {
  text-decoration: none;
  color: var(--txtColor);
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logoName img {
  width: 7%;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  width: 100%;
}
.footerContactWrapper {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 5%;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 5%;
}

footer h2,
footer p {
  margin: 0;
  width: 100%;
}

.footerBtnWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 5%;
}

.footerBtnWrapper p {
  width: min-content;
  text-align: right;
}

.big {
  font-size: 50px;
  font-weight: 700;
}

#zekeringkast {
  width: 250px;
}

.slide-in-blurred-bottom {
  animation: slide-in-blurred-bottom 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.emailWrapper {
  background-color: var(--color-bg1);
  padding: 25px;
  border-radius: 25px;
  width: 50%;
  display: grid;
  justify-items: center;
  position: absolute;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  font-family: "Rubik", sans-serif;
  text-align: center;
}
.emailWrapper h2,
.emailWrapper p {
  margin: 0;
  width: 100%;
}

.emailWrapper p {
  justify-self: left;
  text-align: left;
  margin-bottom: 5%;
  width: 50%;
  margin-left: 15%;
}

form {
  display: grid;
  justify-items: stretch;
  text-align: left;
  width: 50%;
  padding: 0 15%;
}

input[type="text"] {
  border: none;
  margin-bottom: 2%;
  border-bottom-color: lightgray;
  border-bottom-width: 3px;
  border-bottom-style: inset;
  width: 80%;
  padding: 5px 25px;
  border-radius: 5px;
}

input[type="submit"] {
  margin: 0;
  padding: 15px 5px;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: var(--txtColor);
  background-color: var(--bgcolor);
  width: 100%;
  cursor: pointer;
}

.blur {
  backdrop-filter: blur(10px);
  z-index: 10000;
  border-radius: 25px;
  display: grid;
  position: fixed;
  justify-items: center;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  bottom: auto;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.noShow {
  opacity: 0;
  display: none;
}

button {
  align-self: flex-end;
  border-radius: 25px;
  background-color: var(--txtColor);
  border-style: none;
  position: relative;
  left: 50%;
  top: -80%;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;

  width: 25px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 460px) {
  ul {
    justify-content: center;
  }
  .logoName {
    align-content: flex-start;
    margin: 0;
  }
  .logoName img {
    width: 20%;
    margin: 0;
  }

  h1 {
    font-size: 75px;
  }

  .cirkel3dFront,
  .cirkel3dBack {
    position: absolute;
    top: 30%;
    width: 95px;
  }

  .welkomTekst p {
    width: 100%;
    margin-bottom: 60%;
  }
  .btnWrapper {
    position: relative;
    top: 90%;
    left: auto;
    right: auto;
  }

  .heroWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .heroImg {
    width: 90%;
    height: 350px;
  }

  .heroTekst h2 {
    font-size: 35px;
  }

  .heroTekst p {
    width: 100%;
  }

  #grotePlannen {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .imgBtnWrapper {
    width: 90%;
  }
  .imgBtnWrapper .heroImg {
    width: 100%;
  }

  #contacteerOns {
    width: 80%;
  }

  footer {
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 50%;
  }
  .footerBtnWrapper {
    display: grid;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .footerBtnWrapper p {
    text-align: left;
    margin: 0;
  }
  .big {
    font-size: 25px;
  }
  .footerBtnWrapper .logoName img {
    margin: 0;
  }

  #grotePlannen p,
  #grotePlannen h2 {
    text-align: left;
  }
}
