@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --bgcolor: #050a30;
  --txtColor: #fff;
  --secondaryColor: #5CB6F9;

  --color-bg1: #050A30;
  --color-bg2: rgb(0, 17, 82);
  --color1: 63, 55, 201;
  --color2: 67, 97, 238;
  --color3: 72, 149, 239;
  --color4: 76, 201, 240;
  --color5: 114, 9, 183;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

/**start background blur balls */

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
z-index: -10000;
  svg {
    display: none;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

/** end background blur balls */
body {
  background-color: var(--bgcolor);
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  color: var(--txtColor);
}
main {
  margin: 0 5%;
}
ul li a {
  text-decoration: none;
  color: var(--txtColor);
  font-size: 25px;
}
ul li {
  list-style: none;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
ul li a img {
  width: 25px;
}
.right {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-evenly;
  align-items: center;
}
.right a {
  font-size: 20px;
}
h1 {
  font-size: 100px;
  margin: 0;
  margin-top: 5%;
}
.cirkel3dFront,
.cirkel3dBack {
  position: absolute;
  top: 22%;
  left: 14%;
  width: 125px;
  animation: ringSlide 2s 1;
}
.cirkel3dFront {
  z-index: 1000;
  clip-path: inset(0 50% 0 0);
}

.cirkel3dBack {
  z-index: -1;
  clip-path: inset(0 0 0 49%);
}
p {
  width: 50%;
  font-size: 20px;
  font-weight: 400;
}

.btnWrapper {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15%;
  top: 50%;
}

.btnDark {
  position: relative;
  background-color: var(--txtColor);
  color: var(--bgcolor);
  text-decoration: none;
  padding: 20px 30px;
  border-radius: 35px;
  margin: 15px;
  align-content: center;
  text-align: center;
  width: 200px;
  font-size: 20px;
}

@keyframes ringSlide {
  0% {
    left: -11%;
  }
  100% {
    left: 14%;
  }
}

.welkomWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15%;
}

@keyframes btnSlide {
  0% {
    padding: 10px 30px;
  }

  50% {
    padding: 25px 30px;
  }
  100% {
    padding: 20px 30px;
  }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-bg2);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #003566;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #002455;
  }

  h2 {
    font-size: 50px;
    width: 80%;
  }

  .blue {
    color: var(--secondaryColor) ;
  }

.heroWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

  .heroImg {
    display: flex;
    align-self: center;
    width: 450px;
    height: 450px;
    background-image: url(../images/dakwerk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
  }

  .heroTekst {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .heroTekst p {
    width: 70%;
  }
  .heroTekst h2 {
    width: 100%;
  }

  #contacteerOns {
    
  }