@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --bgcolor: #050A30;
    --txtColor:#fff;
}

body {
    
    background-color: var(--bgcolor);
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: var(--txtColor);
}
main {
    margin: 0 5%;
}
ul li a {
    text-decoration: none;
    color: var(--txtColor);
    font-size: 25px;
}
ul li {
    list-style: none;

}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
ul li a img {
    width: 25px;
}
.right {
    
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-evenly;
    align-items: center;
}
.right a {
    font-size: 20px;
}
h1 {
    font-size: 64px;
}
.cirkel3dFront, .cirkel3dBack {
    position: absolute;
    top: 9%;
    left: 10%;
    width: 70px;
}
.cirkel3dFront {
    z-index: 1000;
    left: 11%;

}

.cirkel3dBack {
    z-index: -1;
    top: 8.9%;
    left: 14.6%;

}